@tailwind base;
@tailwind components;

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 16px;
}

/* .shadowed {
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.25);
} */

.rotated {
  transform: rotateX(50deg) rotateZ(-35deg) scale(100%);
}

body {
  background-color: rgb(228 228 231);
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #848484;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(78, 78, 78);
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(49, 49, 49);
}

/* TOOLTIP */

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  bottom: 100%;
  left: 50%;
  margin-left: -150px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* RED BUTTON */

.red-button {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 22px);
  width: 44px;
  height: 35.5px;
  border-radius: 50%;
  background: #b3b3b3;
  box-shadow: 0 1px 0 #888888, 0 2px 0 #888888, 0 3px 0 #888888,
    1px 4px 0 hsla(0, 0%, 0%, 0.2);
  cursor: pointer;
}

.red-button::before {
  position: absolute;
  top: -9.5px;
  left: 4px;
  width: 36px;
  height: 30.5px;
  border-radius: inherit;
  color: #ff0017;
  background-color: #ff0017;
  box-shadow: 0 3px 0 #df0014, 0 6px 0 #df0014, 0 9px 0 #df0014,
    0 11px 0 #df0014, 2.5px 14px 0 hsla(0, 0%, 0%, 0.1);
  content: '';
  transition: all 00ms;
}

.red-button:active::before {
  top: 0px;
  box-shadow: 0 1.6px #df0014, 0 1.6px #df0014, 0 1.6px #df0014, 0 1.6px #df0014,
    0.5px 2px 0 hsla(0, 0%, 0%, 0.1);
}

@tailwind utilities;
