@tailwind base;
@tailwind components;

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(231 229 228);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Respira-Black';
    font-weight: 900;
    src: url('./fonts/Respira-Black.ttf') format('ttf');
  }
}
